:root {
	/* ----------Fonts--------- */
	--main-font: "Roboto", sans-serif;
	--secondary-font: "Raleway", sans-serif;
}

.page {
	font-family: var(--main-font);
}

.hidden-elements {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.logo {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	letter-spacing: 0.03em;
	color: #000000;
}

.logo-accent {
	color: #2196f3;
}

.main-nav {
	font-family: var(--main-font);
	font-weight: 500px;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: #212121;
}

.contact-link {
	font-weight: 500;
	color: #757575;
}

.nav-link:hover,
.nav-link:focus {
	color: #2196f3;
}

.current {
	color: #2196f3;
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

/* ----------Hero--------- */

.hero {
	background-color: #2f303a;
	color: #ffffff;
}
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: calc(60 / 44);
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.hero-btn {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	cursor: pointer;
	background-color: #2196f3;
	color: currentColor;
}

.hero-btn:hover,
.hero-btn:focus {
	background-color: #188ce8;
}
/* ----------Benefits--------- */

.benefits-title {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #212121;
}

.text {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: #757575;
}

/* ----------Work--------- */

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

/* ----------Team--------- */
